<form class="p-4" [formGroup]="userForm">
    <p class="text-xl font-semibold">Dependents: </p>
    <div>
        <button
            class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-green-600 hover:bg-green-500">New
            Dependent</button>
    </div>

    <ng-container formArrayName="dependentsList">
        <ng-container *ngFor="let dependent of dependentList.controls; let i = index" [formGroupName]="i">
            <div class="my-4 grid grid-cols-2 sm:grid-cols-4 gap-4">
                <mat-form-field>
                    <mat-label>Name:</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>Name is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Age:</mat-label>
                    <input matInput formControlName="age">
                    <mat-error>Age is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Document:</mat-label>
                    <input matInput formControlName="document" mask="000.000.000-00">
                    <mat-error *ngIf="dependent.get('document')?.hasError('required')">Document is required.</mat-error>
                    <mat-error *ngIf="dependent.get('document')?.hasError('mask')">Enter a valid document.</mat-error>
                </mat-form-field>

                <div class="flex justify-center items-baseline box-border p-2">
                    <button
                        class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-red-600 hover:bg-red-500"
                        (click)="removeDependent(i)">
                        Delete</button>
                </div>
            </div>

            <hr class="block sm:hidden" />
        </ng-container>
    </ng-container>
</form>