<div>
    <p class="text-2xl font-semibold">Dependents:</p>
    <div class="grid sm:grid-cols-3">
        <app-user-info-item title="Name" name="x"></app-user-info-item>
        <app-user-info-item title="Age" name="x"></app-user-info-item>
        <app-user-info-item title="Document" name="x"></app-user-info-item>
    </div>

    <hr class="block sm:hidden" />
    <div class="grid sm:grid-cols-3">
        <app-user-info-item title="Name" name="x"></app-user-info-item>
        <app-user-info-item title="Age" name="x"></app-user-info-item>
        <app-user-info-item title="Document" name="x"></app-user-info-item>
    </div>
    <hr class="block sm:hidden" />
    <div class="grid sm:grid-cols-3">
        <app-user-info-item title="Name" name="x"></app-user-info-item>
        <app-user-info-item title="Age" name="x"></app-user-info-item>
        <app-user-info-item title="Document" name="x"></app-user-info-item>
    </div>
</div>