<div class="p-4 grid gap-4">
    <p class="text-2xl font-semibold">Phones:</p>
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <app-user-info-item title="Residential" text="12321"></app-user-info-item>
        <app-user-info-item title="Cellphone" text="12321"></app-user-info-item>
        <app-user-info-item title="Emergency" text="-"></app-user-info-item>
    </div>
     <p class="text-2xl font-semibold">Address:</p>
    <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-3">
       <app-user-info-item title="Type" text="Residential"></app-user-info-item>
       <app-user-info-item title="Street" text="X"></app-user-info-item>
       <app-user-info-item title="Complement" text="X"></app-user-info-item>
       <app-user-info-item title="Country" text="XX"></app-user-info-item>
       <app-user-info-item title="State" text="X"></app-user-info-item>
       <app-user-info-item title="City" text="X"></app-user-info-item>
    </div>
    <hr class="block lg:hidden">
    <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-3">
       <app-user-info-item title="Type" text="Work"></app-user-info-item>
       <app-user-info-item title="Street" text="X"></app-user-info-item>
       <app-user-info-item title="Complement" text="X"></app-user-info-item>
       <app-user-info-item title="Country" text="XX"></app-user-info-item>
       <app-user-info-item title="State" text="X"></app-user-info-item>
       <app-user-info-item title="City" text="X"></app-user-info-item>
    </div>
    <hr class="block lg:hidden">
    <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-3">
       <app-user-info-item title="Type" text="Alternative"></app-user-info-item>
       <app-user-info-item title="Street" text="X"></app-user-info-item>
       <app-user-info-item title="Complement" text="X"></app-user-info-item>
       <app-user-info-item title="Country" text="XX"></app-user-info-item>
       <app-user-info-item title="State" text="X"></app-user-info-item>
       <app-user-info-item title="City" text="X"></app-user-info-item>
    </div>
</div>